<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>DELETE ERROR PAGE</title>
</head>
<body>
<div align="center">
        <h1 >ERROR 404 - ID DOESN'T EXIST</h1>
        <br>
        <a th:text="AddData" th:href="addDataPage" >replaced</a><br>
        <a th:text="EditData" th:href="editDataPage">replaced</a><br>
        <a th:text="ViewData" th:href="viewDataPage" >replaced</a><br>
        <a th:text="DeleteData" th:href="deleteDataPage"> replaced</a><br>
</div>
</body>
</html>