<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT PAGE</title>
</head>
<body>
    <div align="center">

        <h3>EDIT DATA</h3>
        <br>
        <form action="editDataPage" method="post">
            <label for="serialIN">Enter Serial Number</label>
            <input id="serialIN" type="number" name="serialNumberName">
            <label for="contentIN">Enter Content</label>
            <input id="contentIN" type="text" name="contentName">
            <input type="submit" value="Submit">
        </form>
        <br>

        <a th:text="AddData" th:href="addDataPage" >replaced</a><br>
        <a th:text="ViewData" th:href="viewDataPage" >replaced</a><br>
        <a th:text="DeleteData" th:href="deleteDataPage"> replaced</a><br>

    </div>
</body>
</html>